.mainWrapper { 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .mainContent {
        min-width: 320px;
        max-width: 860px;
        width: 80%;
        margin: auto;
        text-align: center;

        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            .topLeft{
                margin: 0 12px;
                .username {
                    color: #5ffbf1;
                }
        
                .downloadButton {
                    margin: 32px;
                }
            }
            .topRight {

            }
        }

        hr {
            border: 0;
            border-radius: 5px;
            height: 3px;
            background: #333;
            background-image: linear-gradient(90deg, 
            #5ffbf1 33.3% /* 1*12.5% */, 
            #ff3baa 0,#ff3baa 66.6%   /* 2*12.5% */, 
            #00ffaa 0, #00ffaa 100%);
        }
        
        .extraInfo {
            text-align: left;

            .highlight {
                color: #ff3baa;
            }

            ol {
                li {
                    margin-bottom: 5px;
                }
            }

            .bolden {
                font-weight: 600;
            }
        }
    }
}